/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

/* header */


.headerBg {
    background:url("../img/headerBg.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    background-blend-mode:multiply ;
    background-color:#808080;
    height:770px;
    
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:25px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.headerText h1 {
    font-size:45px;
    text-transform:uppercase;
    font-weight:700;
}

.headerText p {
    font-family: 'Roboto Slab', serif;
    font-size:16px;
}

.headerText button {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    font-size:20px;
}

/*  services */
.services {
    padding:100px 0px;
}

.servicesWrapper {
    margin-bottom:70px;
}

.servicesWrapper  h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        font-size:20px;
        text-transform:uppercase;
    }

.servicesWrapper hr {
    content:"";
    display:block;
    width:50px;
    height:2px;
    background:#000;
}

.servicesWrapper p {
    font-family: 'Roboto Slab', serif;
    font-size:16px;
}

.ourServices h4 {
        font-family: 'Montserrat', sans-serif;
        font-size:16px;
        text-transform:uppercase;
}

.ourServices p {
    font-family: 'Roboto Slab', serif;
    font-size:12px;
    line-height:2.0;
}

/* About Us */

.aboutUs {
    background:#f8f8f8;
    padding:100px 0px;
}

.aboutWrapper {
    margin-bottom:100px;
}

.aboutWrapper  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:20px;
    text-transform:uppercase;
}

.aboutWrapper hr {
    content:"";
    display:block;
    width:50px;
    height:2px;
    background:#000;
}

.aboutWrapper p {
    font-family: 'Roboto Slab', serif;
    font-size:16px;
}

.aboutText {
    margin-bottom:70px;
}

.aboutText p {
    font-family: 'Roboto Slab', serif;
    font-size:12px;
    line-height:2.0;
}

/* //////////////////// */

.carousel-inner .carousel-item.active,.carousel-inner .carousel-item-next,.carousel-inner .carousel-item-prev{display:flex}
.carousel-inner .carousel-item-right.active,.carousel-inner .carousel-item-next{transform:translateX(25%)}
.carousel-inner .carousel-item-left.active,.carousel-inner .carousel-item-prev{transform:translateX(-25%)}
.carousel-inner .carousel-item-right,.carousel-inner .carousel-item-left{transform:translateX(0)}

.bgPhoto:hover {
    background:silver;
    opacity:0.9;
}

.bgPhoto:hover {
    opacity:0.5;
}

 .carousel-control-prev:hover {
    background:#c0301c;
    opacity:0.5;
}
.carousel-control-next:hover {
    background:#c0301c;
    opacity:0.5;
}

.carousel-control-prev, .carousel-control-next {
    width:100px;
    height:auto;
}

/* ///////////////////////// */

/*  Last Work */

.lastWork {
    padding:100px 0px;
}

.lastWork h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:20px;
    text-transform:uppercase;
}

.lastWork hr {
    content:"";
    display:block;
    width:50px;
    height:2px;
    background:#000;
}

.lastWork a {
    font-family: 'Roboto Slab', serif;
    font-size:16px;
    text-decoration:none;

}

.workLink a:hover {
    cursor:pointer;
    color:#c0301c !important;
}


.ourWork {

}

.workBg {
    position:relative;
    background:#c0301c;
    
}

.workBg img:hover {
    cursor:pointer;
    opacity:0.5;

}

.titleBlock {
    position:absolute;
    top:30%;
    left:30%;
    color:#fff;
}

.titleBlock {
    display:none;
}

.workBg:hover .titleBlock  {
    display:block;
}

.workBg:hover button {
    color:#c0301c;
}

.titleBlock h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:20px;
    text-transform:uppercase
}

.titleBlock p {
    font-family: 'Roboto Slab', serif;
    font-size:16px;
}

.titleBlock button {
    width:100px;
    height:40px;
    font-family: 'Roboto Slab', serif;
    font-size:18px;
    text-transform: uppercase;
    border:none;
}

.titleBlock button:active,
.titleBlock button:focus {
    outline:none;
}



















